<div class="box" data-controller="bookmark" data-bookmark-url-value="<%= bookmark.url %>">
  <img id="myimage" src="" data-bookmark-target="img">
  <div class="is-clipped">
    <h4><%= bookmark.name %></h4>
    <div id="mytitle" data-bookmark-target="title"></div>
    <div id="mydescription" data-bookmark-target="description"></div>
    <div id="myurl" data-bookmark-target="url"></div>
  </div>
</div>
