<% if user_signed_in? %>
  <h1>SAVER DASHBOARD</h1>
  <div id = "folder-container" class = "col-3">
    <h2><%= link_to "+", new_folder_path() %><br>
    </h2>
    <% @folders.each do |folder| %>
      <div id = "folder-card" class="card">
        <% if (folder.user_id == current_user.id) %>
          <h2><%= link_to "#{folder.name}", folder %></h2>
          <%= link_to "Delete",
                    folder_path(folder),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
