<%= render "shared/sidebar", folder: @create %>
<div class="folder-wrapper d-flex ">
  <div class="folder-left mr-10">
    <%= render "folder_left_content", folder: @folder %>
  </div>
  <div class="folder-right">
    <%= render "right_sidebar", folder: @folder %>
  </div>
</div>
