<div class ="section-container">
          <h3><%= link_to "Add a todo list/calendar", folder_sections_path(@folder, section: { section_type: "todo" }), method: "POST" %><br></h3>
          <h3><%= link_to "Add a bookmark", folder_sections_path(@folder, section: { section_type: "bookmark" }), method: "POST" %><br></h3>
          <h3><%= link_to "Add a timer", folder_sections_path(@folder, section: { section_type: "timer" }), method: "POST" %><br></h3>
        </div>
<% @folder.sections.each do |section| %>
  <p><%= section.section_type %></p>

  <% end %>
