<<<<<<< HEAD
<div class="folder-left">
  <%= render "folder_left_content" %>
</div>
<div class="folder-right">
  <%= render "right_sidebar" %>
=======
<%= render 'shared/sidebar', folder: @folder %>
<div class="folder-wrapper d-flex">
  <div class="folder-left mr-10">
    <%= render "folder_left_content", folder: @folder %>
  </div>
>>>>>>> master
</div>
