<div class="wrapper d-flex h-100">
  <aside class="sidebar h-100">
    <div class="sidebar-section sidebar-header">
      <div class="sidebar-logo text-center">
        <a href="#" class="text-light">SAVER</a>
        <img src="" alt="">
      </div>
    </div>

         <div class="searchbar mt-3 m-2">

          <input class="search_input" type="text" name="" placeholder="Search Widgets...">

        </div>


    <div class="sidebar-section sidebar-menu p-0">

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active pt-3 pb-2" id="menu" role="tabpanel" aria-labelledby="menu-tab">

          <ul>
            <li>
              <a href="#" class="d-flex align-items-center ml-4">
                <i class="fas fa-tachometer-alt "></i>
                <span class="menu-text flex-fill">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="#" class="d-flex align-items-center ml-4">
                <i class="far fa-gem"></i>
                <span class="menu-text flex-fill">Folders</span>
              </a>
            </li>
            <li>
              <a href="#" class="d-flex align-items-center ml-4">
                <i class="fa fa-globe"></i>
                <span class="menu-text flex-fill">Bookmarks</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-pane fade pt-3 pb-2" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
           <div class="tab-header text-uppercase p-2">
            Notifications
          </div>
           <ul>
            <li>
              <a class="p-2 d-flex align-items-center text-decoration-none" href="#">
                <div class="icon">
                   <i class="fas fa-check text-center text-success border border-success"></i>
                </div>
                <div class="notification-content flex-fill overflow-hidden">
                  <div class="notification-detail text-nowrap text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                  <div class="notification-time">6 minutes ago</div>
                </div>
              </a>
            </li>
              <li>
              <a class="p-2 d-flex align-items-center text-decoration-none" href="#">
                <div class="icon">
                   <i class="fas fa-exclamation-triangle text-center text-warning border border-warning"></i>
                </div>
                <div class="notification-content flex-fill overflow-hidden">
                  <div class="notification-detail text-nowrap text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                  <div class="notification-time">Yesterday</div>
                </div>
              </a>
            </li>
              <li>
              <a class="p-2 d-flex align-items-center text-decoration-none" href="#">
                <div class="icon">
                   <i class="fas fa-exclamation text-center text-info border border-info"></i>
                </div>
                <div class="notification-content flex-fill overflow-hidden">
                  <div class="notification-detail text-nowrap text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                  <div class="notification-time">2 day ago</div>
                </div>
              </a>
            </li>
              <li>
              <a class="p-2 d-flex align-items-center text-decoration-none" href="#">
                <div class="icon">
                   <i class="fas fa-times text-center text-danger border border-danger"></i>
                </div>
                <div class="notification-content flex-fill overflow-hidden">
                  <div class="notification-detail text-nowrap text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                  <div class="notification-time">A week ago</div>
                </div>
              </a>
            </li>
           </ul>
           <div class="tab-footer text-center">
            <a href="#" class="btn rounded-0 btn-block">View all notifications</a>
          </div>
        </div>
        <div class="tab-pane fade pt-3 pb-2" id="messages" role="tabpanel" aria-labelledby="messages-tab">
          <div class="tab-header text-uppercase p-2">
            Messages
          </div>
          <ul>
            <li>
              <a class="p-2 d-flex align-items-center text-decoration-none" href="#">
                <div class="pic">
                  <img src="https://www.magic931.com.au/assets/docs/Jon_Snow.PNG?1543200080" alt="">
                </div>
                <div class="message-content flex-fill overflow-hidden">
                  <div class="message-title text-nowrap text-truncate">
                    Jhon Snow
                  </div>
                  <div class="message-detail text-nowrap text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                </div>
              </a>
            </li>
            <li>
              <a class="p-2 d-flex align-items-center text-decoration-none" href="#">
                <div class="pic">
                  <img src="https://www.magic931.com.au/assets/docs/Jon_Snow.PNG?1543200080" alt="">
                </div>
                <div class="message-content flex-fill overflow-hidden">
                  <div class="message-title text-nowrap text-truncate">
                    Jhon Snow
                  </div>
                  <div class="message-detail text-nowrap text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                </div>
              </a>
            </li>
            <li>
              <a class="p-2 d-flex align-items-center text-decoration-none" href="#">
                <div class="pic">
                  <img src="https://www.magic931.com.au/assets/docs/Jon_Snow.PNG?1543200080" alt="">
                </div>
                <div class="message-content flex-fill overflow-hidden">
                  <div class="message-title text-nowrap text-truncate">
                    Jhon Snow
                  </div>
                  <div class="message-detail text-nowrap text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                </div>
              </a>
            </li>
             <li>
              <a class="p-2 d-flex align-items-center text-decoration-none" href="#">
                <div class="pic">
                  <img src="https://www.magic931.com.au/assets/docs/Jon_Snow.PNG?1543200080" alt="">
                </div>
                <div class="message-content flex-fill overflow-hidden">
                  <div class="message-title text-nowrap text-truncate">
                    Jhon Snow
                  </div>
                  <div class="message-detail text-nowrap text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                </div>
              </a>
            </li>
          </ul>
          <div class="tab-footer text-center">
            <a href="#" class="btn rounded-0 btn-block">View all messages</a>
          </div>
        </div>
        <div class="tab-pane fade pt-3 pb-2" id="settings" role="tabpanel" aria-labelledby="settings-tab">
           <div class="tab-header text-uppercase p-2">
            Settings
          </div>
          <ul>
            <li>
              <a href="#" class="d-flex align-items-center">
                <i class="far fa-user"></i>
                <span class="flex-fill">Profile</span>
              </a>
            </li>
            <li>
              <a href="#" class="d-flex align-items-center">
                <i class="far fa-question-circle"></i>
                <span class="flex-fill">Help</span>
              </a>
            </li>
            <li>
              <a href="#" class="d-flex align-items-center">
                <i class="fas fa-cog"></i>
                <span class="flex-fill">Settings</span>
              </a>
            </li>
            <li>
              <a href="#" class="d-flex align-items-center">
                <i class="fas fa-power-off"></i>
                <span class="flex-fill">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>

</div>
