.bookmarks {
  width: 100%;
  overflow: overlay;
  background-image: asset-url("wall.jpg");
  background-size: cover;
  height: 100vh;
}

.url {
  flex-grow: 0.5;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 50px;
}

.box {
  width: 300px;
  height: 450px;
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 16px;
}

#mytitle {
  margin-bottom: 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

#mydescription {
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  opacity: 0.6;
}

#myurl {
  font-weight: 600;
}

.url-search {
  display: flex;
  .bookmark_url,
  .bookmark_name {
    margin: 0px;
  }
  margin-left: 170px;
}

.topbar {
  width: 100%;
  padding: 25px;
  margin-bottom: 30px;
}

.bookmark-button {
  width: 30px;
  height: 37px;
  border-radius: 5px;
  margin-left: 20px;
}

// .url-search .grow {
//   background-color: red;
// }

// -------------------------

.bookmarkcard {
  margin: auto;
  width: 350px;
  overflow: hidden;
  border-radius: 20px;
  background: white;
  margin-top: 50px;
  transition: all 0.2s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  color: black;

  min-height: 300px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.bookmarkcard:hover {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  transform: translate(-5px, -5px);
}

.bookmarkcard:hover .icon svg {
  animation: iconjln 1s;
}

.img-cover {
  position: relative;
}

.bookmarkcard img {
  width: 350px;
  height: 220px;
  object-fit: cover;
}

.icon {
  position: absolute;
  top: 0;
  padding: 25px;
  right: 0;
  border-bottom-left-radius: 20px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.desc {
  padding: 1.5em;
  font-family: "Poppins", sans-serif;
}
.desc h1 {
  display: inline;
}
.tdesc {
  margin-bottom: 40px;
  width: 100%;
  height: 50px;
  overflow: auto;
}

.desc a {
  text-decoration: none;
  background-color: dodgerblue;
  padding: 15px 25px;
  color: white;
  border-radius: 15px;
  display: block;
  text-align: center;
  transition: all 0.2s;
}
.desc a:hover {
  background-color: SteelBlue;
}
.desc a:hover svg {
  animation: iconjln 1s;
}

@keyframes iconjln {
  0%,
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
  50% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
