.bookmarks {
  width: 100%;
  overflow: overlay;
}

.bookmark_btn {
  background-color: red;
}
.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 40px;
}

.box {
  width: 300px;
  height: 450px;
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 16px;
}

#myimage {
  width: 200px;
  height: 200px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
#mytitle {
  margin-bottom: 15px;
}

.url-search {
  display: flex;
  .bookmark_url,
  .bookmark_name {
    margin: 0px;
  }
}

.topbar {
  width: 100%;
  background: white;
  padding: 15px;
  margin-bottom: 20px;
}

.bookmark-button {
  width: 30px;
  height: 37px;

}

// .url-search .grow {
//   background-color: red;
// }
