.simple-calendar {
  .today {
    background-color: #FAF3DD;
  }
}

.day {
  color: $main-color-bg;
}

.meeting {
  color: $main-color-txt;
  padding: 4px 15px;
  margin: 10px 0px;
  border-radius: 4px;
  background: $main-color-bg;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: $main-color-bg;
  color: $main-color-txt;
}
.next-month, .prev-month {
  background-color:  #ddd;
  color: white;
}

#daily-task {
  height: 70vh;
}

.btn-action {
  border: 2px solid $main-color-bg;
  color: $main-color-bg;
}

.btn-fill, thead {
  background-color: $main-color-bg;
  color: $main-color-txt;
}
