// * {
//   margin: 0;
//   padding: 0;
//   font-family: sans-serif;
// }
#main {
  height: 100vh;
  background: url("https://i.redd.it/xu3eym7mpul71.jpg")
    fixed no-repeat;
  background-size: cover;
  object-fit: cover;
}
#container {
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
}
#container:before {
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px #3637405d;
  filter: blur(10px);
}
#main form img {
  height: 30px;
}
#main form {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#main input {
  background: 0;
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}
#main input[type="submit"] {
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #df2359;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}
#main input[type="submit"]:hover {
  background: #c0392b;
}

#main {
  color: white
}

#main a{
  color: white
}

span a {
  color: rgba(255, 255, 255, 0.8);
}
