// Navbar

#nav {
  flex-grow: 1;
}
.navbar-lewagon {
  background: white;
}

.navbar a {
  color: black;
}
.nav-item {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.text-container {
  width: 100%;
}
.nav .padding {
  padding-left: 65px !important;
}
// Sidebar
.sidebar-logo #logo {
  color: white;
  font-weight: 100;
}
#screen-name {
  margin: 0 auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

body {
  height: 100vh;
}

$sidebar-width: 280px;
$sidebar-bg-color: #292e38;

.wrapper {
  aside.sidebar {
    width: $sidebar-width;
    min-width: $sidebar-width;
    background: $sidebar-bg-color;
    overflow-x: hidden;
    position: relative;
    &.toggled {
      width: 0;
      min-width: 0;
    }
    .sidebar-section {
      padding: 1.2rem 0;
      border-bottom: 1px solid lighten($sidebar-bg-color, 8%);
    }
    .sidebar-profile {
      .picture-wrapper {
        width: 60px;
        height: 60px;
        overflow: hidden;
      }
      .profile-details {
        .name {
          color: lighten($sidebar-bg-color, 40%);
        }
        .role {
          color: lighten($sidebar-bg-color, 25%);
        }
      }
    }
    .sidebar-menu {
      ul#nav-tab {
        border-bottom: 1px solid lighten($sidebar-bg-color, 8%);
        padding-bottom: 1px;
        li {
          border-right: 1px solid lighten($sidebar-bg-color, 8%);
          &:last-child {
            border-right: none;
          }
          #tab {
            color: lighten($sidebar-bg-color, 20%);
            border: none;
            position: relative;
            &.active {
              background: lighten($sidebar-bg-color, 4%);
              color: lighten($sidebar-bg-color, 40%);
              .nav-alert {
                border-color: lighten($sidebar-bg-color, 4%);
              }
            }
            &:hover {
              color: lighten($sidebar-bg-color, 40%);
            }
            .nav-alert {
              display: inline-block;
              width: 13px;
              height: 13px;
              border-radius: 50%;
              position: absolute;
              top: 5px;
              border: 3px solid $sidebar-bg-color;
              transform: translateX(2px);

              &.bg-danger {
                box-shadow: 0px 0px 4px #ff6161;
              }

              &.bg-success {
                box-shadow: 0px 0px 4px #61ff66;
              }
            }
          }
        }
      }

      .tab-header {
        color: lighten($sidebar-bg-color, 40%);
        font-size: 0.9rem;
        font-weight: bold;
      }
      .tab-footer a {
        color: lighten($sidebar-bg-color, 40%);
        &:hover {
          color: lighten($sidebar-bg-color, 50%);
        }
      }
      #menu {
        ul {
          list-style-type: none;
          padding: 0;
          li #tab {
            padding: 0.5rem 0.6rem;
            text-decoration: none;
            color: lighten($sidebar-bg-color, 50%);
            i {
              width: 35px;
              height: 35px;
              text-align: center;
              line-height: 35px;
              color: lighten($sidebar-bg-color, 25%);
              font-size: 0.9rem;
              border: 1px solid lighten($sidebar-bg-color, 8%);
              margin-right: 0.5rem;
            }
            .menu-text {
              font-size: 0.9rem;
            }
            .badge {
              font-size: 0.6rem;
            }
            &:hover {
              color: lighten($sidebar-bg-color, 30%);
              background: lighten($sidebar-bg-color, 3%);
              i {
                color: lighten($sidebar-bg-color, 40%);
              }
            }
          }
        }
      }

      #notifications {
        ul {
          list-style-type: none;
          padding: 0;
          a {
            .icon i {
              width: 40px;
              min-width: 40px;
              height: 40px;
              line-height: 40px;
              overflow: hidden;
              margin-right: 1rem;
            }
            .notification-content {
              text-decoration: none;
              .notification-detail {
                color: lighten($sidebar-bg-color, 40%);
                font-size: 0.9rem;
              }
              .notification-time {
                color: lighten($sidebar-bg-color, 20%);
                font-size: 0.7rem;
              }
            }
            &:hover {
              background: lighten($sidebar-bg-color, 3%);
            }
          }
        }
      }
      #settings {
        ul {
          list-style-type: none;
          padding: 0;
          li a {
            padding: 0.5rem 0.6rem;
            text-decoration: none;
            color: lighten($sidebar-bg-color, 25%);
            i {
              color: lighten($sidebar-bg-color, 30%);
              margin-right: 0.8rem;
            }
            &:hover {
              color: lighten($sidebar-bg-color, 40%);
            }
          }
        }
      }
    }
  }
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 400px;
  caret-color: transparent;
  transition: width 0.4s linear;
  padding: 0 10px;
}

.searchbar:hover > .search_input {
  padding-right: 0 15px;
  caret-color: white;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #ffffff;
}

.search_icon {
  height: 10px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
