.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}
#logo {
  margin-right: auto;
}
#screen-name {
  margin: 0 auto;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
