$bg-color: $main-color-bg;
$border-color: $main-color-bg;
$title-font: "DM Sans", sans-serif;
$body-font: "Source Sans Pro", sans-serif;
$side-title: $main-color-txt;
$button: $main-color-txt;

* {
  outline: none;
  box-sizing: border-box;
}

#user {
  margin-left: 0;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.navbar-nav {
  color: $main-color-txt;
  text-align: center;
}

body {
  font-family: $body-font;
  background-color: #f4f4f4;
  color: #d3d1d8;
}

#myDIVleft {
      @media screen and (max-width: 1210px) {
    height: 100%;
    display: none;
    &.active {
      transform: translatex(0);
    }
  }
}

#myDIVright {
      @media screen and (max-width: 1210px) {
    height: 100%;
    display: none;
    &.active {
      transform: translatex(0);
    }
  }
}

.left-side {
  width: 260px;
  height: 100vh;
  border-right: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  background-color: $bg-color;
  overflow: auto;
  flex-shrink: 0;
}

.right-side {
  width: 280px;
  flex-shrink: 0;
  margin-left: auto;
  overflow: auto;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: $main-color-bg;
  height: 100%;
}

.logo {
  font-family: $title-font;
  font-size: 25px;
  color: $main-color-txt;
  font-weight: 600;
  text-align: center;
  height: 68px;
  line-height: 68px;
  letter-spacing: 4px;
  position: sticky;
  top: 0;
}

.side-title {
  font-family: $title-font;
  color: $side-title;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.side-wrapper {
  padding: 30px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  font-size: px;
  white-space: nowrap;
  svg {
    margin-right: 16px;
    width: 16px;
  }
  a {
    text-decoration: none;
    color: $main-color-txt;
    display: flex;
    align-items: center;
    &:hover {
      color: #fff;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  #tabs {
    text-decoration: none;
    color: $main-color-txt;
    display: flex;
    align-items: center;
    &:hover {
      color: #fff;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.nav .hover-color {
  color: #fff;
  font-weight: 900;
}

// Folder center content

.left-side-button {
  display: none;
  @media screen and (max-width: 930px) {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 60px;
    background-color: $main-color-bg;
    opacity: 0.05;
    border: 0;
    padding: 0;
    line-height: 0;
    color: $main-color-txt;
    border-bottom: 1px solid $border-color;
    svg {
      transition: 0.2s;
      width: 24px;
    }
    svg:last-child {
      position: absolute;
      left: 50%;
      transform: translate(100%, -50%);
      top: 50%;
      opacity: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .profile-avatar {
    top: -25px;
    left: 50%;
    transform: translatex(-50%);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .profile-img {
    height: 100px;
    width: 100px;
  }
  .profile-name {
    margin: 5px 0;
  }
  .profile-menu {
    padding-left: 0;
    width: 100%;
    overflow: auto;
    justify-content: center;
  }
  .profile-menu-link {
    padding: 16px;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .profile-menu-link:nth-last-child(1),
  .profile-menu-link:nth-last-child(2) {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $main-color-bg;
  opacity: 0.01;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-color-bg;
  opacity: 0.11;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $main-color-bg;
  opacity: 0.1;
}

#nav {
  background: $main-color-bg;
  opacity: 0.2;
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
}

@supports (
    -webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)
  )
  or (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
  #nav-b#nav-reduce {
    transition: all 0.5s ease-in-out;
    padding-top: 15px;
    background: $main-color-bg;
    opacity: 0.2;
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
      brightness(140%);
  }
}

.side-title {
  color: $main-color-txt;
}

.notifications a {
  color: $main-color-txt;
}

[data-initials]:before {
  background: #434c5d;
  color: white;
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  font-weight: 600;
  border-radius: 50%;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
