.search {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
}

.search-container {
  flex-grow: 0;
  background-color: $main-color-bg;
  color: $main-color-txt;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
