.timer {
  display: flex;
  flex-direction: column;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex: 1;
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  font-size: 0.8rem;
}

.timer__button {
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  background: rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  text-align: center;
  width: 70px;
}

.timer__button:hover,
.timer__button:focus {
  background: rgba(0,0,0,0.1);
}

.card a {
  color: white;
}

.display__time-left {
  padding: 5px;
  font-weight: 100;
  font-size: 8rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.05);
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__end-time {
  padding: 3px;
  font-size: 2rem;
  color: white;
}
.card {
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgba(54, 55, 64, 255);
  color: white;
  height: 100%;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card  h1 {
  text-align: center;
}