.timer {
  display: flex;
  flex-direction: column;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex: 1;
}

.timer__controls form {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.timer__controls input {
  flex: 1;
}

.timer__button {
  border: 0;
  cursor: pointer;
  color: $main-color-txt;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 70px;
}

.card a {
  color: $main-color-txt;
  padding-bottom: 5px;
}

.display__time-left {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 100;
  font-size: 5rem;
  color: $main-color-txt;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__end-time {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1rem;
  color: $main-color-txt;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: 400;
}
.card {
  // background-color: $card-color-bg; can we add a transprency field or RGBA?
  background-color: $card-color-bg;
  color: $main-color-txt;
  margin: auto;
  width: 450px;
  min-height: 300px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  @media screen and (max-width: 1210px) {
    height: 100%;
    width: 250px;
    &.active {
      transform: translatex(0);
    }
  }
}

.card h1 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
  font-size: 2rem;
}

hr {
  height: 3px;
  background: $main-color-txt;
}
.bin {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#customForm {
  justify-content: space-evenly;
}
