.todo-container {
  flex-grow: 0;
  background-color: $card-color-bg;
  color: $main-color-txt;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  flex-direction: row;
}

.card h1 {
  color: $main-color-txt;
  text-align: center;
  margin-top: 10px;
  font-size: 1.75rem;
}

#tasks-list a {
  color: $main-color-txt;
  font-size: 0.9375rem;
}

.card li {
  text-align: left;
  text-decoration: none;
  color: $main-color-txt;
  font-size: 0.9375rem;
}

.page-header {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

#tasks-list {
  list-style: none;
  li {
    cursor: pointer;
  }
}

.li {
  text-align: left;
  margin-left: 10px;
}

.todo-card {
  display: flex;
  justify-content: space-evenly;
}

.form-container {
  text-align: center;
}

#delete {
  color: $main-color-txt;
  font-style: italic;
}

#tasks-list li {
  cursor: grab;
}

#tasks-list li:active {
  cursor: grabbing;
}

#tasks-list li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

.card {
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

.card.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

.tasks-list {
  list-style: none;
}

.bin {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.card-btn {
  background-color: rgba(0, 0, 0, 0.115);
  color: $main-color-txt;
  border-radius: 5px;
  height: 38px;
  flex: 0 0 10%;
  border: 1px solid #ced4da00;
}

.task-bar {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.046);
}

.simple_form .form-control {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.19);
  border: 1px solid #ced4da00;
  color: #fff;
  text-align: left;
}

.simple .form-group {
  flex: 0 0 90%;
}


.simple .simple_form {
  display: flex;
  align-content: stretch;
  color: black;
  border-color: black;

}
