.todo-container {
  flex-grow: 0;
  background-color: rgba(54, 55, 64, 255);
  color: white;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  width: 450px;
  min-height: 300px;
}

.todo-container h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 3rem;
}

#tasks-list a {
  color: rgb(255, 255, 255);
  font-size: 0.9375rem;
}

.todo-container li {
  text-align: left;
  text-decoration: none;
  color: white;
  font-size: 0.9375rem;
}

.page-header {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  text-align: center;

}

#tasks-list {
  list-style: none;
  li {
    cursor: pointer;
  }
}

.li {
  text-align: left;
  margin-left:10px;
}

.todo-card {
  display: flex;
  justify-content: space-evenly;
}

.form-container {
  text-align: center;
}

#delete {
  color: rgb(166, 166, 166);
  font-style: italic;
}

#tasks-list li {
  cursor: grab;
}

#tasks-list li:active {
  cursor: grabbing;
}

#tasks-list li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

.bin {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
