// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/login";
@import "components/todo";
@import "components/form";

#sections-list {
display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-item{
  margin: 5px;
}


.logo {
  opacity: 0.9;
  border-radius: 1px;
}

.logo img{
  border-radius:8px;
}
